<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/loginStyles.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="contenedor-form">
            <div>
                <img src="/Frontend/Statics/logo-dentista.png" alt="">
            </div>
            <div>

                <div>
                    <label for="">Usuario</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña</label>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../JS/api/login.api.js"></script>
</html>